.board {
    width: 20em;
    overflow: auto;
    min-height: 10em;
    border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.1);
    padding: 2em;
    margin: 2em auto;
    
    &__title {
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
    }

    &__list {
        display: flex;
        padding: 0;
        list-style-type: none;
        gap: 0.5em;
    }

    &__btn {
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
        background-color: white;
        border-radius: 3%;
        padding: 0.5em;
    }
}