.board-container {
    width: 25em;
    overflow: auto;
    min-height: 10em;
    border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.1);
    padding: 2em;
    margin: 2em auto;
    position: relative;
    }

.board {
    &__title {
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
         font-family: Arial, Helvetica, sans-serif
    }

    &__list {
        display: flex;
        padding: 0;
        list-style-type: none;
        gap: 0.5em;
    }

    // &__btn {
    //     border: 1px solid rgba(0, 0, 0, 0.1);
    //     box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
    //     background-color: white;
    //     border-radius: 3%;
    //     padding: 0.5em;
    // }

    &__link {
        position: absolute;
        top: 1em;
        left: 1em;
        color: black;
    }

    &__input {
        font-weight: inherit;
    text-transform: inherit;
    font-family: inherit;
    padding: 0;
    // display: inline;
    border: none;
    // text-align: inherit;
    // font-size: inherit;
    }
}